################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/raylib
/x64/Debug
/packages/raylib.5.5.0
/raylib/x64/Debug/raylib.tlog
/raylib/x64/Debug
