################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/raylib
/x64
/packages
/raylib/x64
/raylib/x86
/Debug
/Release
*.user
.vs
dizdok.md dizdoc.md